header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #F8FAFC;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.center-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
