.home-page {
  padding: 40px 20px 20px 20px;
}

.Create-Meeting {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}


.create-meeting-btn {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-meeting-btn:hover {
  background-color: #125aa0;
}

.meetings-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between meeting cards */
}