.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f0f2f5; */
}

.login-form {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-heading {
  margin-bottom: 16px;
  text-align: center;
}

.login-input {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 10px;
  border-radius: 4px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  cursor: pointer;
}
